body
{
    background-color: #1b1717;
}
.ti
{
    height: 350px;
    background-size: 100% 100%;
    margin-bottom: 50px;
    background-color: #ce1212;
    
}
.seat-container {
    border: 5px solid;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   /overflow: scroll;/
    width:600px;
    height: 600px;
    background-color: #eeebdd;
}


.seat {
    
   height: 50px;
   width: 50px;
   border: 4px solid Black;
   border-radius: 10px;
   margin: auto;
    
    
}

.seat-occupied {
   background-color: DimGray;
}

.seat-vacant {
   cursor: pointer;
}

.seat-hold {
   background-color: GreenYellow;
}
